streamlit>=1.22.0
opencv-python-headless==4.8.0.76
pandas>=1.5.3
numpy>=1.24.3,<2.0.0
pillow>=9.4.0
tensorflow-cpu==2.11.0
fer==22.5.1
mtcnn==0.1.1
protobuf<4.0.0  # TensorFlow 2.11 requires protobuf <4